.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 30vh;
  max-height: 100px;
  font-size: 1.0em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  opacity: 0.4;
  transition: opacity 0.5s;
}

.navigationItem:hover {
  opacity: 1;
}

.navigationItem a {
  text-decoration: none;
}

.logo {
  width: 80vw;
  max-width: 1080px;
  max-height: 308px;
  margin-bottom: 20px;
}

.instagram {
  width: 30px;
  height: 30px;
}