.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 135px;
  font-size: 1.0em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  opacity: 0.4;
  transition: opacity 0.5s;
}

.navigationItem:hover {
  opacity: 1;
}

.navigationItem a {
  text-decoration: none;
}

.logo {
  max-height: 135px;
  width: 40vw;
  max-width: 473px;
}

.icon {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .navigation {
    font-size: 0.6em;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}